.todoItem {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customCheckbox {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  appearance: none;
  border: 2px solid #999;
  border-radius: 4px;
  outline: none;
  transition: 0.3s;
  margin-right: 8px;
}

.customCheckbox:checked {
  background-color: #ffffff00;
  border-color: #4caf50;
}

.customCheckbox:checked::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
